/* Extra */
body {
    background: #ccc;
    color: #fefefe;
    font-size: 14px;
    margin: 0;
  }
  
  .logo {
    max-width: 200px;
  }
  .logo>img{
    width: 100px;
    height: 50px;
  }
  
  .navbar {
    align-items: center;
    background:black;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding: 10px 50px;
  }
  
  .push-left {
    margin-left: auto;
  }
  
  /* Menu */
  .hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 1000;
  }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-block;
    }
  }
  .hamburger-line {
    background: #272727;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamburger:hover .hamburger-line {
    background: #777;
  }
  .hamburger-line-top {
    top: 3px;
  }
  .menu-active .hamburger-line-top {
    top: 50%;
    transform: rotate(45deg) translatey(-50%);
  }
  .hamburger-line-middle {
    top: 50%;
    transform: translatey(-50%);
  }
  .menu-active .hamburger-line-middle {
    left: 50%;
    opacity: 0;
    width: 0;
  }
  .hamburger-line-bottom {
    bottom: 3px;
  }
  .menu-active .hamburger-line-bottom {
    bottom: 50%;
    transform: rotate(-45deg) translatey(50%);
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in;
  }
  @media screen and (max-width: 768px) {
    .nav-menu {
      background: black;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translatey(-100%);
      text-align: center;
    }
    .menu-active .nav-menu {
      transform: translatey(0%);
      opacity: 1;
    }
  }
  .nav-menu .menu-item a {
    color: #f7f2f2;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-menu .menu-item a:hover {
    color: #f1e2e2;
    /* text-decoration: underline; */
  }
  @media screen and (max-width: 768px) {
    .nav-menu .menu-item a {
      font-size: 20px;
      margin: 8px;
    }
  }
  
  .sub-nav {
    /* border: 1px solid #333; */
    display: none;
    position: absolute;
    background-color: black;
    opacity: 70%;
    border-radius: 5px;
    padding: 5px 5px;
    list-style: none;
    /* width: px; */
  }
  @media screen and (max-width: 768px) {
    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }
  }
  
  .nav__link:hover + .sub-nav {
    display: block;
  }
  
  .sub-nav:hover {
    display: block;
  }

  /* -----button css */
  @import url("https://fonts.googleapis.com/css?family=Raleway");

  :root {
    --glow-color: hsl(186 100% 69%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
/*   
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
   */
  .glowing-btn {
    margin-left: 10px;
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.25em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.5em;
  
    -webkit-box-shadow: inset 0px 0px 0.25em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.25em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.25em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 0.5em;
    }
   }
    @media only screen and (max-width: 768px) {
        .glowing-btn{
          display: none;
        }
  }
  
  /* ----  border animation ---- */
  .animate-border {
    
    border: none;
    
    cursor: pointer;
    position: relative;
  }
  
  .animate-border::before,
  .animate-border::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    /* background-color: #007bff; */
    background-color: var(--glow-color);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .animate-border::before {
    top: 0;
    transform-origin: center left;
  }
  
  .animate-border::after {
    bottom: 0;
    transform-origin: center right;
  }
  
  .animate-border:hover::before,
  .animate-border:hover::after {
    transform: scaleX(1);
  }